.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-adv p {
  text-align: left;
  padding: 10px;
}
.move-right{
  margin-left: 95px;
}
.content p {
  text-align: left;
  padding: 0px;
  margin-right: 0px
}
.no-space {
  width: 250px;
  padding: 0px;
}